@import "angular";
.reports {
  margin-bottom: 40px;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    @include tablet {
      gap: 20px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    background: $lightBlue;
    @include tablet{
      display: grid;
      gap: 25px;
    }
    .icon {
      color: $violet;
    }
   
    &._green {
      background: $lightGreen;
      .icon,
      .reports__name {
        color: #479696;
      }
      .reports__text {
        color: #8daeae;
        opacity: 0.7;
      }
    }
    &._pink {
      background: $lightPink;
      .icon,
      .reports__name {
        color: $orange;
      }
      .reports__text {
        color: $lightBrown;
      }
    }
    &._white {
      background: $bgLight;
      .icon,
      .reports__name {
        color: $pink;
      }
      .reports__text {
        color: #e791be;
        opacity: 0.7;
      }
    }
  }

  &__name {
    color: $violet;
    font-family: $ff;
    font-size: 12px;
    font-weight: 500;
    @include adaptiv-font(18, 12);
  }

  &__text {
    color: $violet;
    font-family: $ff;
    font-size: 10px;
    font-weight: 400;
    opacity: 0.5;
    @include adaptiv-font(16, 10);
  }
  .material-icons {
    width: 24px;
    height: 24px;
    flex-shrink: 1;
    @include adaptiv-font(36, 24);
  }
}
