$ff:'Roboto', sans-serif;
$gray: #8B97A8;
$dark-purple: #595085;
$purple: #3D3270;
$transition: .2s all ease-in-out;
$white: #fff;
$lightBlue: #F6F5FB;
$lightGreen: #F5F9F9;
$lightPink: #FFF4F4;
$orange:#FF5648;
$dark-orange:#FF3726;
$green:#479696;
$violet:#403572;
$lightViolet:#61598B;