@import "angular";

.tasks {
  
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  &__item {
    padding: 12px;
    border-radius: 15px;
    background: $lightBlue;
    &._pink {
      background: $lightPink;
      .tasks__name {
        color: $dark-orange;
      }
      .tasks__count {
        color: $orange;
      }
    }
    &._green {
      background: $lightGreen;
      .tasks__name {
        color: $green;
        margin-bottom: 30px;
      }
      .tasks__count {
        color: $green;
      }
    }
  }
  &__name {
    color: $lightViolet;
    font-family: $ff;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  &__count {
    color: $violet;
    font-family: $ff;
    font-size: 24px;
    font-weight: 500;
  }
}
