<div class="status">
  <div class="status__list">
    <div
      class="status__item"
      *ngFor="let item of status"
      [class._blue]="item.id == 1"
      [class._pink]="item.id == 2"
    >
      <span class="material-icons icon"> {{ item.icon }} </span>
      <div class="status__info">
        <div class="status__title">{{ item.title }}</div>
        <div class="status__desc">
          {{ item.desc }}
        </div>
      </div>
      <span class="material-icons arrow" > navigate_next </span>
    </div>
  </div>
</div>
