<div class="status">
  <div class="status__list">
    <div class="status__item" *ngFor="Let item of status" [class._blue]="item.title== 'How was your day?'" [class._pink]="item.title== 'Current Transist: 3rd House'" >
      <span class="material-icons calendar"> {{item.calendar}} </span>
      <div class="status__info">
        <div class="status__title">{{item.title}}</div>
        <div class="status__desc">
          {{item.desc}}
        </div>
      </div>
      <span class="material-icons arrow"> {{item.arrow}} </span>
    </div>
    <!-- <div class="status__item">
      <span class="material-icons clock"> {{item.clock}} </span>
      <div class="status__info">
        <div class="status__title">Current Transist: 3rd House</div>
        <div class="status__desc">
          This is demonstrate siblings, hobbies, efforts, confidence, friends
          and short tr...
        </div>
      </div>
      <span class="material-icons"> navigate_next </span>
    </div> -->
  </div>
</div>
