@import "angular";

.status {
  margin-bottom: 40px;
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    @include mobile {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    padding: 24px 15px 24px 20px;
    border-radius: 15px;
    background: $lightBlue;
    @include mobile {
      gap: 20px;
    }

    &._pink {
      background: $lightPink;
      .icon {
        color: orange;
      }
      .status__title {
        color: orange;
      }
      .status__desc {
        color: $lightBrown;
      }
    }
  }

  &__title {
    color: $violet;
    font-family: $ff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    @include adaptiv-font(24, 16);
  }

  &__desc {
    color: $violet;
    font-family: $ff;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    @include adaptiv-font(18, 12);
  }
}
.material-icons {
  color: $violet;
  width: 24px;
  height: 24px;
  flex-shrink: 1;
  @include adaptiv-font(32, 24);
}
