@import "angular";

.progress {
    padding: 15px 0;
  &__title {
    color: $dark-purple;
    font-family: $ff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    & span {
      color: #c93f8d;
      font-weight: 400;
    }
  }

  &__bar {
    border-radius: 5px;
    background: #fdf9fb;
    padding: 2px;
    position: relative;
  }

  &__line {
    border-radius: 5px;
    background: #c93f8d;
    height: 4px;
    width: 60%;
  }
}
